// FiraSans
@font-face {
  font-family: "FiraSans";
  src: url("../fonts/FiraSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "FiraSans";
  src: url("../fonts/FiraSans-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "FiraSans";
  src: url("../fonts/FiraSans-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "FiraSans";
  src: url("../fonts/FiraSans-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "FiraSans";
  src: url("../fonts/FiraSans-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "FiraSans";
  src: url("../fonts/FiraSans-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

// Orbitron
@font-face {
  font-family: "Orbitron";
  src: url("../fonts/Orbitron-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Orbitron";
  src: url("../fonts/Orbitron-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Orbitron";
  src: url("../fonts/Orbitron-SemiBold.ttf");
  font-weight: 600;
}
