*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  font-family: FiraSans, system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  margin: 0;
  padding: 0;
  height: 100vh;
  height: 100svh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {

}

a:visited {
  color: inherit;
}

a:hover {
  opacity: 0.9;
}
