/* width */
::-webkit-scrollbar {
  width: 0.25rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--gray);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 0.125rem;
  background: var(--black-400);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--black-400);
}
